<div class="container-report">
  <div class="report-list-title">
    <h3><%= t ".new_entry_title", class: "report-list-title" %></h3>
  </div>
  <%= form_for @report do |r| %>

    <%= r.label :user_name, t(".user_name") %><br>
    <%= r.text_field(:user_name, class: 'input-report') %><br>

    <%= r.label :forest_name, t(".forest_name") %><br>
    <%= r.text_field :forest_name, class: 'input-report' %><br>

    <%= r.label :village, t(".village") %><br>
    <%= r.text_field :village, class: 'input-report' %><br>

    <%= r.label :gouvernorat, t(".gouvernorat") %><br>
    <%= r.text_field :gouvernorat, class: 'input-report' %><br>

    <%= r.label :agricultors_visits, t(".agricultors_visits") %><br>
    <%= r.text_field :agricultors_visits, class: 'input-report' %><br>

    <%= r.label :numbers_women, t(".numbers_women") %><br>
    <%= r.text_field :numbers_women, class: 'input-report' %><br>

    <%= r.label :numbers_tree, t(".numbers_tree") %><br>
    <%= r.text_field :numbers_tree, class: 'input-report' %><br>

    <%= r.label :area, t(".area") %><br>
    <%= r.text_field :area, class: 'input-report' %><br>

    <%= r.label :problems, t(".problems") %><br>
    <%= r.text_field :problems, class: 'input-report' %><br>

    <%= r.label :formation, t(".formation") %><br>
    <%= r.text_field :formation, class: 'input-report' %><br>

    <%= r.label :product_sell, t(".product_sell") %><br>
    <%= r.text_field :product_sell, class: 'input-report' %><br>

    <%= r.label :agricultors_name, t(".agricultors_name") %><br>
    <%= r.text_field :agricultors_name, class: 'input-report' %><br>

    <%= r.label :observation, t(".observation") %><br>
    <%= r.text_area :observation, class: 'input-report' %><br>

    <%= r.label :forest_photo, t(".photos") %><br>
    <%= r.file_field :forest_photo, class: 'input-report' %><br>

    <%= r.label :forest_photo, t(".photos") %><br>
    <%= r.file_field :forest_photo, class: 'input-report' %><br>

    <%= r.label :forest_photo, t(".photos") %><br>
    <%= r.file_field :forest_photo, class: 'input-report' %><br>

    <%= r.submit t(".send") %>

  <% end %>
</div>
